.venv/
__pycache__/
*.pyc

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
.claude/

staticfiles/
wheels/
requests/

*.log

*.xlsx
!reports/static/files/templateIGK.xlsx